#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 28px 16px 0;
    float: left;
  }
  .ant-layout-content {
    height: 100vh;
}
button.ant-btn.wkonlogout {
  float: right;
  margin-top: 17px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  padding-bottom: 3px;
  border: 2px solid #fff;
  border-radius: 50px;
}
.header img{
  width: 140px;
}
.firstuser a.ant-dropdown-link.ant-dropdown-trigger {
    float: right;
}
.ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
    height: 0px !important;
    overflow: hidden;
    background-color: #e8e8e8;
    line-height: 0;
}
h1.nametxt {
    font-size: 19px;
    font-variant: all-petite-caps;
    color: #7f7d7d;
}
.firstuser a.ant-dropdown-link.ant-dropdown-trigger {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.firstuser .ant-row.btnedit {
    position: relative;
}
ul.ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical li {
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}
button.ant-btn.email1 {
    border: none;
    background: transparent;
}
button.ant-btn.edit1 {
    border: none;
    background: transparent;
}
.username{
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-transform: capitalize;
}
.user1 p{
    margin-top: 0px !important;
    font-size: 13px;
}
.span1{
    font-weight: 700;
}
.extraline {
    background: #8080802e;
    height: 1px;
    margin: 0 -2em;
    margin-bottom: 1em;
}
.ant-dropdown.ant-dropdown-placement-bottomLeft {
    left: 670.875px !important;
}
.firstuser {
    padding-top: 10px;
    margin-top: 11px;
    background: #fff;
    border-radius: 4px;
    padding: 1em 2em 1em 2em;
    margin-left: 1em;
}
.padng20 img {
    border-radius: 50%;
}
.firstuser button.ant-btn.edit {
    background: transparent;
    color: rgb(161, 218, 232);
    border: none;
  
    margin-bottom: 17px;
    margin-left: 17px;
}

.btndltedt {
    border-radius: 0 0 0 85%;
    margin-right: -11px;
    margin-top: -5px;
    margin-left: 3px;
}
.firstuser button.ant-btn.delete {
    background: transparent;
    color: rgb(161, 218, 232);
    border: none;
   
    margin: 0 0 0 13px;
    padding: 0;
}
.loader {
    background-color: #5b6b5b99;
    height: 100vh;
    
}
.loader .react-overlay-loader-spinner:before{
    border-top-color: #2e373e;
    
}
.loader span {
    color: #fff !important;
}