#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 28px 16px 0;
    float: left;
  }
  .ant-layout-content {
    height: 100vh;
}
button.ant-btn.wkonlogout {
  float: right;
  margin-top: 17px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  padding-bottom: 3px;
  border: 2px solid #fff;
  border-radius: 50px;
}
.header img{
  width: 140px;
}
.username{
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-transform: capitalize;
}
.user1 p{
    margin-top: 0px !important;
    font-size: 15px;
}
.span1{
    font-weight: 700;
}
.firstuser {
    padding-top: 10px;
    margin-top: 11px;
    background: #fff;
    border-radius: 12px;
    padding: 1em 2em 2em 4em;
    margin-left: 1em;
}
.padng20 img {
    border-radius: 50%;
}
.firstuser button.ant-btn.edit {
    background: transparent;
    color: rgb(161, 218, 232);
    border: none;
    padding: 0 0 0 26px;
    margin-bottom: 17px;
}

.btndltedt {
    border-radius: 0 0 0 85%;
    margin-right: -11px;
    margin-top: -5px;
    margin-left: 3px;
}.firstuser button.ant-btn.delete {
    background: transparent;
    color: rgb(161, 218, 232);
    border: none;
    margin-left: 0;
}