/* password reset css */
.imgsec.borderBottom:before {
    border-bottom: 408px solid white;
}
.imgsec.borderBottom{
    height: 408px;
}
.SubmitBtn{
    text-align: center;
}
/* password reset css */