
.lunch .ant-btn-primary {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    text-align: center;
    color: #795555;
    background-color: transparent;
    border-color: #6065690d;
    width: 8em;
    height: 8em;
    margin: 1em 0 0 0;
    font-size: 16px;
   
}
.lunch .ant-btn-primary:hover {
    box-shadow: 0px 7px 7px -6px #e4dbdb;
}
.teabreak .ant-btn-primary:hover {
    box-shadow: 0px 7px 7px -6px #e4dbdb;
}
.meeting  .ant-btn-primary:hover {
    box-shadow: 0px 7px 7px -6px #e4dbdb;
}
.teabreak .ant-btn-primary {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    text-align: center;
    color: #795555;
    background-color: transparent;
    border-color: #6065690d;
    width: 8em;
    height: 8em;
    margin: 1em 0 0 0;
    font-size: 16px;
}
.meeting .ant-btn-primary {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    text-align: center;
    color: #795555;
    background-color: transparent;
    border-color: #6065690d;
    width: 8em;
    height: 8em;
    margin: 1em 0 0 0;
    font-size: 16px;
}
.ant-row.lunch {
    margin-bottom: 1em;
    text-align: left;
    margin-left: 3em;
    float: left;
}
.ant-row.teabreak {
    margin-bottom: 1em;
    text-align: left;
    margin-left: 3em;
    float: left;
}
.ant-row.meeting {
    margin-bottom: 1em;
    text-align: left;
    margin-left: 3em;
    float: left;
}
span.lunchMeal1 {
    margin: 44px 0 0 26px;
}
.activitybutton .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 0;
    right: 6px;
    top: 14px;
    font-size: 18px;
    position: absolute;
}
.activitybutton button.ant-btn.activitybutton.ant-btn-primary {
    font-size: 19px;
    font-family: lato;
}
.timesheet {
    margin: -1em;
}
.activityName{
    background: #fff;
    height: 100vh;
}
.activitybutton img {
    width: 28px;
    position: absolute;
    left: 46px;
}
.teaBreak {
    width: 50%;
    margin: 0 auto;
}
.ant-row.actname {
    text-align: center;
    font-variant: all-petite-caps;
    background: #f4f8fb;
    font-family: Lato;
    font-size: 16px;
    border-bottom: 1px solid #448aff26;
}
/* modal css */
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
  }
  
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  span.lunchMeal {
    float: left;
    margin-left: 1em;
    margin-top: 3em;
}
.taskListdate span.ant-calendar-picker {
    position: absolute;
    right: 1em;
    margin-top: 9px;
}
.ant-row.actname h1 {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 1em;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0000009e;
}
.taskListdate p {
    margin-left: 1em;
    color: #5d5e60;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    padding-top: 13px;
    letter-spacing: 1px;
}
.lunchTime span.ant-time-picker {
    width: 100%;
}
.lunchTime p {
    margin-bottom: 4px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
}
.lunchTime {
    padding: 0 4em;
}
button.ant-btn.modalSave {
    border: none;
    margin-right: 1em;
    background: #448aff;
    color: #fff;
    outline: none;
}
button.ant-btn.modalSave:hover {
    background: #295fb9;
}
button.ant-btn.modalCancel:hover {
    background: #e2dbdb91;
}
button.ant-btn.modalCancel {
    margin-right: 2em;
    background: #f7f7f7;
    color: #000;
    outline: none;
    border: none;
}
.dataonly .ant-list-item {
    padding-left: 2em;
}
.dataonly {
    height: 100vh;
    background: #fff;
    border-left: 1px solid rgba(158, 158, 158, 0.1);
}
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }
  .ant-row.taskListdate {
    background: #f4f8fb;
    border-left: 1px solid #80808026;
}
.dataonly a {
    font-variant: all-petite-caps;
    font-size: 19px;
}
.taskbtn {
    height: 100vh;
    background: #fff;
}